/* static/css/styles.css */

body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

header {
    background-color: #bab9b9;
    color: white;
    width: 100%;
    padding: 1rem 0;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

main {
    background-color: white;
    padding: 2rem;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
}

h1 {
    font-size: 2rem;
    color: #060606;
}

p {
    font-size: 1rem;
    color: #666;
}

a {
    text-decoration: none;
    color: #b15111;
    margin: 0 0.5rem;
}

a:hover {
    text-decoration: underline;
}

footer {
    margin-top: auto;
    background-color: #bab9b9;
    color: rgb(222, 20, 20);
    width: 100%;
    text-align: center;
    padding: 0.5rem 0;
}
